Domibus-ws-stubs/src/wsdl/BackendService_1_1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://org.ecodex.backend/1_1/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/" name="BackendService_1_1"
                  targetNamespace="http://org.ecodex.backend/1_1/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/XML/1998/namespace"
                   version="1.0">

            <xs:attribute name="lang" type="xs:string"/>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2005/05/xmlmime"
                   targetNamespace="http://www.w3.org/2005/05/xmlmime" version="1.0">

            <xs:complexType name="base64Binary">
                <xs:simpleContent>
                    <xs:extension base="xs:base64Binary">
                        <xs:attribute ref="tns:contentType"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="hexBinary">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute ref="tns:contentType"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:attribute name="contentType" type="xs:string"/>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2003/05/soap-envelope"
                   elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/05/soap-envelope"
                   version="1.0">

            <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

            <xs:element name="Body" type="tns:Body"/>

            <xs:element name="Envelope" type="tns:Envelope"/>

            <xs:element name="Fault" type="tns:Fault"/>

            <xs:element name="Header" type="tns:Header"/>

            <xs:element name="NotUnderstood" type="tns:NotUnderstoodType"/>

            <xs:element name="Upgrade" type="tns:UpgradeType"/>

            <xs:complexType name="Fault">
                <xs:sequence>
                    <xs:element name="Code" type="tns:faultcode"/>
                    <xs:element name="Reason" type="tns:faultreason"/>
                    <xs:element minOccurs="0" name="Node" type="xs:anyURI"/>
                    <xs:element minOccurs="0" name="Role" type="xs:anyURI"/>
                    <xs:element minOccurs="0" name="Detail" type="tns:detail"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="faultcode">
                <xs:sequence>
                    <xs:element name="Value" type="xs:QName"/>
                    <xs:element minOccurs="0" name="Subcode" type="tns:subcode"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="subcode">
                <xs:sequence>
                    <xs:element name="Value" type="xs:QName"/>
                    <xs:element minOccurs="0" name="Subcode" type="tns:subcode"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="faultreason">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Text" type="tns:reasontext"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="reasontext">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute ref="xml:lang" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="detail">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Envelope">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Header" type="tns:Header"/>
                    <xs:element name="Body" type="tns:Body"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Body">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="NotUnderstoodType">
                <xs:sequence/>
                <xs:attribute name="qname" type="xs:QName" use="required"/>
            </xs:complexType>

            <xs:complexType name="UpgradeType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SupportedEnvelope" type="tns:SupportedEnvType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SupportedEnvType">
                <xs:sequence/>
                <xs:attribute name="qname" type="xs:QName" use="required"/>
            </xs:complexType>

            <xs:attribute name="mustUnderstand" type="xs:boolean"/>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/"
                   targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" version="1.0">

            <xs:element name="Body" type="tns:Body"/>

            <xs:element name="Envelope" type="tns:Envelope"/>

            <xs:element name="Fault" type="tns:Fault"/>

            <xs:element name="Header" type="tns:Header"/>

            <xs:complexType name="Fault">
                <xs:sequence>
                    <xs:element name="faultcode" type="xs:QName"/>
                    <xs:element name="faultstring" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultactor" type="xs:anyURI"/>
                    <xs:element minOccurs="0" name="detail" type="tns:detail"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="detail">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Envelope">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="Header" type="tns:Header"/>
                    <xs:element form="qualified" name="Body" type="tns:Body"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Body">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org.ecodex.backend/1_1/"
                   xmlns:ns1="http://www.w3.org/2005/05/xmlmime" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified" targetNamespace="http://org.ecodex.backend/1_1/">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="FaultDetail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="message" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadMessageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bodyload" type="tns:PayloadType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payload" nillable="true"
                                    type="tns:PayloadType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPendingMessagesRequest" type="xs:anyType"/>
            <xs:element name="listPendingMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageID" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageErrorsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bodyload" type="tns:PayloadType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payload" nillable="true"
                                    type="tns:PayloadType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendRequestURL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bodyload" type="tns:PayloadURLType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payload" nillable="true"
                                    type="tns:PayloadURLType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageID" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="PayloadType">
                <xs:simpleContent>
                    <xs:extension base="ns1:base64Binary">
                        <xs:attribute name="payloadId" type="xs:token" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="errorResultImpl">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
                    <xs:element minOccurs="0" name="errorDetail" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageInErrorId" type="xs:string"/>
                    <xs:element minOccurs="0" name="mshRole" type="tns:mshRole"/>
                    <xs:element minOccurs="0" name="notified" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="timestamp" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PayloadURLType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="payloadId" type="xs:token" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="messageStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="READY_TO_SEND"/>
                    <xs:enumeration value="SEND_ENQUEUED"/>
                    <xs:enumeration value="SEND_IN_PROGRESS"/>
                    <xs:enumeration value="WAITING_FOR_RECEIPT"/>
                    <xs:enumeration value="ACKNOWLEDGED"/>
                    <xs:enumeration value="ACKNOWLEDGED_WITH_WARNING"/>
                    <xs:enumeration value="SEND_ATTEMPT_FAILED"/>
                    <xs:enumeration value="SEND_FAILURE"/>
                    <xs:enumeration value="NOT_FOUND"/>
                    <xs:enumeration value="WAITING_FOR_RETRY"/>
                    <xs:enumeration value="RECEIVED"/>
                    <xs:enumeration value="RECEIVED_WITH_WARNINGS"/>
                    <xs:enumeration value="DELETED"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="errorCode">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="EBMS_0001"/>
                    <xs:enumeration value="EBMS_0002"/>
                    <xs:enumeration value="EBMS_0003"/>
                    <xs:enumeration value="EBMS_0004"/>
                    <xs:enumeration value="EBMS_0005"/>
                    <xs:enumeration value="EBMS_0006"/>
                    <xs:enumeration value="EBMS_0007"/>
                    <xs:enumeration value="EBMS_0008"/>
                    <xs:enumeration value="EBMS_0009"/>
                    <xs:enumeration value="EBMS_0010"/>
                    <xs:enumeration value="EBMS_0011"/>
                    <xs:enumeration value="EBMS_0101"/>
                    <xs:enumeration value="EBMS_0102"/>
                    <xs:enumeration value="EBMS_0103"/>
                    <xs:enumeration value="EBMS_0201"/>
                    <xs:enumeration value="EBMS_0202"/>
                    <xs:enumeration value="EBMS_0301"/>
                    <xs:enumeration value="EBMS_0302"/>
                    <xs:enumeration value="EBMS_0303"/>
                    <xs:enumeration value="EBMS_0020"/>
                    <xs:enumeration value="EBMS_0021"/>
                    <xs:enumeration value="EBMS_0022"/>
                    <xs:enumeration value="EBMS_0023"/>
                    <xs:enumeration value="EBMS_0030"/>
                    <xs:enumeration value="EBMS_0031"/>
                    <xs:enumeration value="EBMS_0040"/>
                    <xs:enumeration value="EBMS_0041"/>
                    <xs:enumeration value="EBMS_0042"/>
                    <xs:enumeration value="EBMS_0043"/>
                    <xs:enumeration value="EBMS_0044"/>
                    <xs:enumeration value="EBMS_0045"/>
                    <xs:enumeration value="EBMS_0046"/>
                    <xs:enumeration value="EBMS_0047"/>
                    <xs:enumeration value="EBMS_0048"/>
                    <xs:enumeration value="EBMS_0049"/>
                    <xs:enumeration value="EBMS_0050"/>
                    <xs:enumeration value="EBMS_0051"/>
                    <xs:enumeration value="EBMS_0052"/>
                    <xs:enumeration value="EBMS_0053"/>
                    <xs:enumeration value="EBMS_0054"/>
                    <xs:enumeration value="EBMS_0055"/>
                    <xs:enumeration value="EBMS_0060"/>
                    <xs:enumeration value="EBMS_0065"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="mshRole">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SENDING"/>
                    <xs:enumeration value="RECEIVING"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType final="#all" name="errorResultImplArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true"
                                type="tns:errorResultImpl"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatusRequest" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageStatusResponse" nillable="true" type="tns:messageStatus"/>
            <xs:element name="getErrorsRequest" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageErrorsResponse" nillable="true" type="tns:errorResultImplArray"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/"
                   xmlns:ns1="http://www.w3.org/2003/05/soap-envelope"
                   elementFormDefault="qualified"
                   targetNamespace="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/" version="1.0">

            <xs:import namespace="http://www.w3.org/2003/05/soap-envelope"/>

            <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

            <xs:element name="Messaging" type="tns:Messaging"/>

            <xs:element name="UserMessage" type="tns:UserMessage"/>

            <xs:complexType name="Messaging">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SignalMessage" type="tns:SignalMessage"/>
                    <xs:element minOccurs="0" name="UserMessage" type="tns:UserMessage"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
                <xs:attribute ref="ns1:mustUnderstand"/>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="SignalMessage">
                <xs:sequence>
                    <xs:element name="MessageInfo" type="tns:MessageInfo"/>
                    <xs:element minOccurs="0" name="PullRequest" type="tns:PullRequest"/>
                    <xs:element minOccurs="0" name="Receipt" type="tns:Receipt"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:Error"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="MessageInfo">
                <xs:sequence>
                    <xs:element name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="MessageId" type="xs:string"/>
                    <xs:element minOccurs="0" name="RefToMessageId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PullRequest">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="mpc" type="xs:anyURI"/>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>

            <xs:complexType name="Service">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="Description">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute ref="xml:lang" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="CollaborationInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="AgreementRef" type="tns:AgreementRef"/>
                    <xs:element name="Service" type="tns:Service"/>
                    <xs:element name="Action" type="xs:token"/>
                    <xs:element name="ConversationId" type="xs:token"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="AgreementRef">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string"/>
                        <xs:attribute name="pmode" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="PartProperties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Property" type="tns:Property"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Property">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="PartyInfo">
                <xs:sequence>
                    <xs:element name="From" type="tns:From"/>
                    <xs:element name="To" type="tns:To"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="From">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="PartyId" type="tns:PartyId"/>
                    <xs:element default="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/defaultRole"
                                name="Role" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PartyId">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="To">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="PartyId" type="tns:PartyId"/>
                    <xs:element default="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/defaultRole"
                                name="Role" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="MessageProperties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Property" type="tns:Property"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PayloadInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="PartInfo" type="tns:PartInfo"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PartInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Schema" type="tns:Schema"/>
                    <xs:element minOccurs="0" name="Description" type="tns:Description"/>
                    <xs:element minOccurs="0" name="PartProperties" type="tns:PartProperties"/>
                </xs:sequence>
                <xs:attribute name="href" type="xs:token"/>
            </xs:complexType>

            <xs:complexType name="Schema">
                <xs:sequence/>
                <xs:attribute name="location" type="xs:anyURI" use="required"/>
                <xs:attribute name="version" type="xs:string"/>
                <xs:attribute name="namespace" type="xs:string"/>
            </xs:complexType>

            <xs:complexType name="UserMessage">
                <xs:sequence>
                    <xs:element name="MessageInfo" type="tns:MessageInfo"/>
                    <xs:element name="PartyInfo" type="tns:PartyInfo"/>
                    <xs:element name="CollaborationInfo" type="tns:CollaborationInfo"/>
                    <xs:element minOccurs="0" name="MessageProperties" type="tns:MessageProperties"/>
                    <xs:element minOccurs="0" name="PayloadInfo" type="tns:PayloadInfo"/>
                </xs:sequence>
                <xs:attribute name="mpc" type="xs:anyURI"/>
            </xs:complexType>

            <xs:complexType name="Receipt">
                <xs:sequence>
                    <xs:any namespace="##other" processContents="skip"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Error">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Description" type="tns:Description"/>
                    <xs:element minOccurs="0" name="ErrorDetail" type="xs:token"/>
                </xs:sequence>
                <xs:attribute name="category" type="xs:token"/>
                <xs:attribute name="refToMessageInError" type="xs:token"/>
                <xs:attribute name="errorCode" type="xs:token" use="required"/>
                <xs:attribute name="origin" type="xs:token"/>
                <xs:attribute name="severity" type="xs:token" use="required"/>
                <xs:attribute name="shortDescription" type="xs:token"/>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMessageErrors">
        <wsdl:part element="tns:getErrorsRequest" name="getErrorsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadMessage">
        <wsdl:part element="tns:downloadMessageRequest" name="downloadMessageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DownloadMessageFault">
        <wsdl:part element="tns:FaultDetail" name="DownloadMessageFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadMessageResponse">
        <wsdl:part element="tns:downloadMessageResponse" name="downloadMessageResponse">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listPendingMessagesResponse">
        <wsdl:part element="tns:listPendingMessagesResponse" name="listPendingMessagesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageStatusResponse">
        <wsdl:part element="tns:getMessageStatusResponse" name="getMessageStatusResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listPendingMessages">
        <wsdl:part element="tns:listPendingMessagesRequest" name="listPendingMessagesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageStatus">
        <wsdl:part element="tns:getStatusRequest" name="getStatusRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMessageResponse">
        <wsdl:part element="tns:sendResponse" name="sendResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMessage">
        <wsdl:part element="tns:sendRequest" name="sendRequest">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendMessageFault">
        <wsdl:part element="tns:FaultDetail" name="SendMessageFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageErrorsResponse">
        <wsdl:part element="tns:getMessageErrorsResponse" name="getMessageErrorsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BackendInterface">
        <wsdl:operation name="sendMessage">
            <wsdl:input message="tns:sendMessage" name="sendMessage">
            </wsdl:input>
            <wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SendMessageFault" name="SendMessageFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageStatus">
            <wsdl:input message="tns:getMessageStatus" name="getMessageStatus">
            </wsdl:input>
            <wsdl:output message="tns:getMessageStatusResponse" name="getMessageStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPendingMessages">
            <wsdl:input message="tns:listPendingMessages" name="listPendingMessages">
            </wsdl:input>
            <wsdl:output message="tns:listPendingMessagesResponse" name="listPendingMessagesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageErrors">
            <wsdl:input message="tns:getMessageErrors" name="getMessageErrors">
            </wsdl:input>
            <wsdl:output message="tns:getMessageErrorsResponse" name="getMessageErrorsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadMessage"
                        parameterOrder="downloadMessageRequest downloadMessageResponse ebMSHeaderInfo">
            <wsdl:input message="tns:downloadMessage" name="downloadMessage">
            </wsdl:input>
            <wsdl:output message="tns:downloadMessageResponse" name="downloadMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DownloadMessageFault" name="DownloadMessageFault">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BackendService_1_1SoapBinding" type="tns:BackendInterface">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendMessage">
                <soap12:header message="tns:sendMessage" part="ebMSHeaderInfo" use="literal">
                </soap12:header>
                <soap12:body parts="sendRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendMessageResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SendMessageFault">
                <soap12:fault name="SendMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageStatus">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getMessageStatus">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMessageStatusResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageErrors">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getMessageErrors">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMessageErrorsResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPendingMessages">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="listPendingMessages">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listPendingMessagesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="downloadMessage">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadMessageResponse">
                <soap12:header message="tns:downloadMessageResponse" part="ebMSHeaderInfo" use="literal">
                </soap12:header>
                <soap12:body parts="downloadMessageResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DownloadMessageFault">
                <soap12:fault name="DownloadMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BackendService_1_1">
        <wsdl:port binding="tns:BackendService_1_1SoapBinding" name="BACKEND_PORT">
            <soap12:address location="http://localhost:8080/domibus/services/backend"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>