Domibus-MSH/src/test/resources/eu/domibus/submission/validation/payload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="payload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="element1" type="xs:base64Binary"/>
				<xs:element name="element2" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
