Domibus-ws-stubs/src/main/resources/schemas/BackendService_1_1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://org.ecodex.backend/1_1/"
        xmlns:ns1="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/" name="BackendService_1_1"
        targetNamespace="http://org.ecodex.backend/1_1/">

    <wsdl:types>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xmlmime.xsd"/>
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2003/05/soap-envelope" schemaLocation="envelope.xsd"/>
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://org.ecodex.backend/1_1/" schemaLocation="domibus-backend.xsd"/>
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/"
                    schemaLocation="domibus-header.xsd"/>
        </schema>

    </wsdl:types>

    <wsdl:message name="getMessageErrors">
        <wsdl:part element="tns:getErrorsRequest" name="getErrorsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadMessage">
        <wsdl:part element="tns:downloadMessageRequest" name="downloadMessageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DownloadMessageFault">
        <wsdl:part element="tns:FaultDetail" name="DownloadMessageFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadMessageResponse">
        <wsdl:part element="tns:downloadMessageResponse" name="downloadMessageResponse">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveMessage">
        <wsdl:part element="tns:retrieveMessageRequest" name="retrieveMessageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveMessageResponse">
        <wsdl:part element="tns:retrieveMessageResponse" name="retrieveMessageResponse">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listPendingMessagesResponse">
        <wsdl:part element="tns:listPendingMessagesResponse" name="listPendingMessagesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageStatusResponse">
        <wsdl:part element="tns:getMessageStatusResponse" name="getMessageStatusResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listPendingMessages">
        <wsdl:part element="tns:listPendingMessagesRequest" name="listPendingMessagesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageStatus">
        <wsdl:part element="tns:getStatusRequest" name="getStatusRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMessageResponse">
        <wsdl:part element="tns:sendResponse" name="sendResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMessage">
        <wsdl:part element="tns:sendRequest" name="sendRequest">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitMessage">
        <wsdl:part element="tns:submitRequest" name="submitRequest">
        </wsdl:part>
        <wsdl:part element="ns1:Messaging" name="ebMSHeaderInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitMessageResponse">
        <wsdl:part element="tns:submitResponse" name="submitResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendMessageFault">
        <wsdl:part element="tns:FaultDetail" name="SendMessageFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessageErrorsResponse">
        <wsdl:part element="tns:getMessageErrorsResponse" name="getMessageErrorsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BackendInterface">
        <wsdl:operation name="sendMessage">
            <wsdl:input message="tns:sendMessage" name="sendMessage">
            </wsdl:input>
            <wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SendMessageFault" name="SendMessageFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitMessage">
            <wsdl:input message="tns:submitMessage" name="submitMessage">
            </wsdl:input>
            <wsdl:output message="tns:submitMessageResponse" name="submitMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SendMessageFault" name="SendMessageFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageStatus">
            <wsdl:input message="tns:getMessageStatus" name="getMessageStatus">
            </wsdl:input>
            <wsdl:output message="tns:getMessageStatusResponse" name="getMessageStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPendingMessages">
            <wsdl:input message="tns:listPendingMessages" name="listPendingMessages">
            </wsdl:input>
            <wsdl:output message="tns:listPendingMessagesResponse" name="listPendingMessagesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageErrors">
            <wsdl:input message="tns:getMessageErrors" name="getMessageErrors">
            </wsdl:input>
            <wsdl:output message="tns:getMessageErrorsResponse" name="getMessageErrorsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadMessage">
            <wsdl:input message="tns:downloadMessage" name="downloadMessage">
            </wsdl:input>
            <wsdl:output message="tns:downloadMessageResponse" name="downloadMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DownloadMessageFault" name="DownloadMessageFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveMessage">
            <wsdl:input message="tns:retrieveMessage" name="retrieveMessage">
            </wsdl:input>
            <wsdl:output message="tns:retrieveMessageResponse" name="retrieveMessageResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DownloadMessageFault" name="DownloadMessageFault">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BackendService_1_1SoapBinding" type="tns:BackendInterface">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendMessage">
                <soap12:header message="tns:sendMessage" part="ebMSHeaderInfo" use="literal"/>
                <soap12:body parts="sendRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendMessageResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SendMessageFault">
                <soap12:fault name="SendMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="submitMessage">
                <soap12:header message="tns:submitMessage" part="ebMSHeaderInfo" use="literal"/>
                <soap12:body parts="submitRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output name="submitMessageResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SendMessageFault">
                <soap12:fault name="SendMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageStatus">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getMessageStatus">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMessageStatusResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageErrors">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getMessageErrors">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMessageErrorsResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPendingMessages">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="listPendingMessages">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listPendingMessagesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="downloadMessage">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadMessageResponse">
                <soap12:header message="tns:downloadMessageResponse" part="ebMSHeaderInfo" use="literal"/>
                <soap12:body parts="downloadMessageResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DownloadMessageFault">
                <soap12:fault name="DownloadMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveMessage">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="downloadMessage">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveMessageResponse">
                <soap12:header message="tns:retrieveMessageResponse" part="ebMSHeaderInfo" use="literal"/>
                <soap12:body parts="retrieveMessageResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DownloadMessageFault">
                <soap12:fault name="DownloadMessageFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BackendService_1_1">
        <wsdl:port binding="tns:BackendService_1_1SoapBinding" name="BACKEND_PORT">
            <soap12:address location="http://localhost:8080/domibus/services/backend"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>